<h1>Dashboard</h1>
<a href="/newSimulation">Create New Simulation</a>
<br/>
<h2>My Simulations</h2>
<table class="data-table">
<tr>
	<th>Name</th>
	<th>Start Time</th>
	<th>End Time</th>
	<th>Description</th>
	<th>Simulated Start Time</th>
	<th>Simulated End Time</th>
	<th>Number of Ticks</th>
	<th>Completed</th>
	<th>Invitations</th>
	<th>Delete</th>
	<th>Edit</th>
</tr>
<% _.each(simulations, function(simulation) { %>
<tr>
	<td><%= simulation.name %></td>
	<td><%= simulation.startDate %></td> 
	<td><%= simulation.endDate %></td>
	<td><%= simulation.description %></td>
	<td><%= simulation.simulatedStartTime %></td>
	<td><%= simulation.simulatedEndTime %></td>
	<td><%= simulation.numTicks %></td>
	<td><%= simulation.completed ? "Yes" : "No" %></td>
	<td><a href="/invite/<%= simulation.id %>">Send Invitations</a></td>
	<td><a href="/Simulation/destroy/<%= simulation.id %>">delete</a></td>
	<td><a href='/viewTeams/<%= simulation.id %>'>edit</a>
</tr>
<% }) %>
</table>

<br/>
<br/>
<br/>
<h2>My Sent Invitations</h2>
<table class="data-table">
<tr>
	<th>Invitee Name</th>
	<th>Simulation Name</th>
	<th>Simulation Description</th>
	<th>Completed</th>
	<th>Invitation Status</th>
</tr>
<% _.each(sentInvitations, function(sentInvitation) { %>
<tr>
	<td><%= sentInvitation.invitee.name %></td>
	<td><%= sentInvitation.simulation.name %></td> 
	<td><%= sentInvitation.simulation.description %></td>
	<td><%= sentInvitation.simulation.completed %></td>
	<td><%= sentInvitation.inviteStatus %></td>
</tr>
<% }) %>
</table>

<br/>
<br/>
<br/>
<h2>My Received Invitations</h2>
<table class="data-table">
<tr>
	<th>Invited By</th>
	<th>Simulation Name</th>
	<th>Simulation Description</th>
	<th>Completed</th>
	<th>Invitation Status</th>
	<th>Accept</th>
	<th>Decline</th>
</tr>
<% _.each(receivedInvitations, function(receivedInvitation) { %>
<tr>
	<td><%= receivedInvitation.inviter.name %></td>
	<td><%= receivedInvitation.simulation.name %></td> 
	<td><%= receivedInvitation.simulation.description %></td>
	<td><%= receivedInvitation.simulation.completed %></td>
	<td><%= receivedInvitation.inviteStatus %></td>
	<td>Accept Link</td>
	<td>Decline Link</td>
</tr>
<% }) %>
</table>
