<h1>Dashboard</h1>
<a href="/newSimulation">Create New Simulation</a>
<br/>
<h2>My Simulations</h2>
<table>
<tr>
	<th>Name</th>
	<th>Start Time</th>
	<th>End Time</th>
	<th>Description</th>
	<th>Simulated Start Time</th>
	<th>Simulated End Time</th>
	<th>Completed</th>
	<th>Invitations</th>
</tr>
<% _.each(simulations, function(simulation) { %>
<tr>
	<td><%= simulation.name %></td>
	<td><%= simulation.startDate %></td> 
	<td><%= simulation.endDate %></td>
	<td><%= simulation.description %></td>
	<td><%= simulation.simulatedStartTime %></td>
	<td><%= simulation.simulatedEndTime %></td>
	<td><%= simulation.completed %></td>
	<td><a href="/sendInvitations?simulation=<%= simulation.id %>">Send Invitations</a></td>
</tr>
<% }) %>
</table>

<br/>
<br/>
<br/>
<h2>My Sent Invitations</h2>
<table>
<tr>
	<th>Invitee Name</th>
	<th>Simulation Name</th>
	<th>Simulation Description</th>
	<th>Completed</th>
	<th>Invitation Status</th>
</tr>
<% _.each(sentInvitations, function(sentInvitation) { %>
<tr>
	<td><%= sentInvitation.invitee.name %></td>
	<td><%= sentInvitation.simulation %></td> 
	<td><%= sentInvitation.simulation %></td>
	<td><%= sentInvitation.simulation %></td>
	<td><%= sentInvitation.inviteStatus %></td>
</tr>
<% }) %>
</table>
