<h1>Add Resource Metric Effects</h1>

If <code><%= resource.name %></code> goes 
<select id="thresholdDirection">
	<option value="1">above</option>
	<option value="-1">below</option>
</select>
<input type="text" maxlength="10" size="10" id="resourceThreshold" />
(Starting Value = <%= resource.quantity %>)
<br/>
then 
<select id="effectOperation">
	<option value="-1">subtract</option>
	<option value="1">add</option>
	<option value="2">multiply</option>
</select>
<input type="text" maxlength="10" size="10" id="resourceEffectAmount" />
<select id="metric">
<% _.each(metrics, function(metric){ %>
	<option value="<%= metric.id %>"><%= metric.name %></option>
<% }) %>
</select>
<br/>
<input type="button" onclick="addResourceMetricEffectFn()" value="add Effect" />

<script>
var addResourceMetricEffectFn = function()
{
	var thresholdDirection = $("#thresholdDirection").val();
	var resourceThreshold = $("#resourceThreshold").val();
	var effectOperation = $("#effectOperation").val();
	var resourceEffectAmount = $("#resourceEffectAmount").val();
	var metric = $("#metric").val();
	
	
	$.post('/processAddResourceMetricEffect', {
			simulation: <%= simulationId %>,
			resource: <%= resource.id %>,
			metric: metric,
			effectAmount: resourceEffectAmount,
			effectOperation: effectOperation,
			resourceThreshold: resourceThreshold,
			resourceThresholdDirection: thresholdDirection,
		}, function(data, status, jqxhr)
			{
				window.location = '/viewResourceEffects/' + data.simulationId;
			});
	
}

</script>