<h1>Define Metric Effects on Resources and Events</h1>

<% _.each(metrics, function(metric){ %>
<h2><%= metric.name %></h2>
Minimum Value: <%= metric.minValue %>
<br/>
Maximum Value: <%= metric.maxValue %>
<br/>
Starting Value: <%= metric.defaultValue %>
<br/>
Units: <%= metric.unit %>
<br/>

<h3>Effects on Resources</h3>
<ul>
<% _.each(metric.metricResourceEffects, function(resourceEffect){%>
	<li>When <code><%= metric.name %></code> goes 
	<%= resourceEffect.metricThresholdDirection == 1 ? "above " : "below " %>
	<code><%= resourceEffect.metricThreshold %> </code>
	<%= resourceEffect.effectAmount < 0 ? "remove " : "add " %> 
	<code><%= resourceEffect.effectAmount < 0 ? resourceEffect.effectAmount*-1 : resourceEffect.effectAmount %> 
	<%= resources[resourceEffect.resource].name %> </code>
	<a href="#">edit</a>
	<a href="/MetricResourceEffect/destroy/<%= resourceEffect.id %>">delete</a>
	</li>
<% })%>
</ul>
<a href="/addMetricResourceEffect/<%= simulationId %>/<%= metric.id %>">Add <%= metric.name %> Resource Effect</a>

<br/>
<h3>Effects on Events</h3>
<ul>
<% _.each(metric.metricEventEffects, function(eventEffect){%>
	<li>When <code><%= metric.name %></code> goes 
	<%= eventEffect.metricThresholdDirection == 1 ? "above " : "below " %>
	<code><%= eventEffect.metricThreshold %></code>
	spawn one <code><%= events[eventEffect.event].name %></code>
	<a href="#">edit</a>
	<a href="/MetricEventEffect/destroy/<%= eventEffect.id %>">delete</a>
	</li>
<% }) %>
</ul>

<a href="/addMetricEventEffect/<%= simulationId %>/<%= metric.id %>">Add <%= metric.name %> Event Effect</a>

<hr/>

<% }) %>
Finished adding Metric Effects?
<input type="button" value="Next Step" onclick="nextStepFn();" />

<script>
	var nextStepFn = function()
	{
		window.location = "/viewEventEffects/<%= simulationId %>";
	}
</script>