<h1>Define Event Effects on Metrics and Resources</h1>

<% _.each(events, function(event_local){ %>
<h2><%= event_local.name %></h2>
<%= event_local.description %>
<br/>
<a href="/addEventResourceEffect/<%= simulationId %>/<%= event_local.id %>">Add <%= event_local.name %> Resource Effect</a>
<br/>
<a href="/addEventMetricEffect/<%= simulationId %>/<%= event_local.id %>">Add <%= event_local.name %> Metric Effect</a>


<% }) %>