<h1>Add instances of this Event</h1>

Event: <%= event.name %>
<br/>
Lead Team: <%= event.leadTeam.name %>

Current Event Instances:
<table class="data-table">
	<tr>
		<th>Instance Name</th>
		<th>Instance Description</th>
		<!--<th>Spawn Type</th>-->
		<th>Spawn Time</th>
		<th>Delete</th>
	</tr>
	<% _.each(eventInstances, function(eventInstance){ %>
	<tr>
		<td><%= eventInstance.name %></td>
		<td><%= eventInstance.description %></td>
		<td><%= eventInstance.spawnTime %></td>
		<td><input type="button" value="delete" onclick="deleteEventInstanceFn(<%= eventInstance.id %>)" /></td>
	</tr>
	<% }) %>
</table>

<br/>
<br/>

<form id="addEventInstanceForm" method="POST" action="addEvent" class="builderInput">
<p>
<label for="name">Instance Name:</label>
<input type="text" id="name"></input>
</p>
<p>
<label for="description">Instance Description:</label>
<textarea id="description"></textarea>
</p>
<p>
Add Event Based On:
</p>
<p>
<label for="time">Fixed Time:</label>
<input type="radio" name="eventSpawnType" id="time" value="t"/>
<!-- In future make this slider start after the last instance that has been added -->
<input type="range" id="timeSlider" min="0" max="<%= simulation.numTicks %>" value="50" oninput="outputUpdate(value)"></input>
<output for="range" id="timeDisplay"></output>
</p>

<script>

function outputUpdate(vol) {

document.querySelector('#timeDisplay').value = vol;

}

</script>
<p>
<label for="random">Random Time:</label>
<input type="radio" name="eventSpawnType" id="random" value="r"/>
</p>
<p>
<label for="random">Random Time After (current) Last Instance:</label>
<input type="radio" name="eventSpawnType" id="random" value="rl"/>
</p>

<input type="button" id="addEventInstance" value="Add Instance" onclick="addEventInstanceFn();"></input>
</form>

<br/>
<br/>
Finished adding event instances?
<input type="button" id="nextStep" value="View Events" onclick="nextStepClick();"></input>



<script>

	var addEventInstanceFn = function ()
	{
		var instanceName = $('#name').val();
		var instanceDescription = $('#description').val();
		var spawnType = $('input[name=eventSpawnType]:checked').val();
		var time = $('#timeSlider').val();
				
		if (!instanceName)
		{
			alert("Instance name required");
			return false;
		}
		if (!instanceDescription)
		{
			alert("Instance description required");
			return false;
		}
		if (!spawnType)
		{
			alert("Event spawn type (time or random) required");
			return false;
		}

		
		$.post('/addEventInstance', {
			simulation: <%= simulationId %>,
			event: <%= event.id %>,
			name: instanceName,
			description: instanceDescription,
			spawnType: spawnType,
			spawnTime: time
		}, function(data, status, jqxhr)
			{
				window.location = '/viewEventInstances/' + data.simulationId + '/' + data.eventId;
			});
		
		
	}
	
	var nextStepClick = function() {
		window.location = '/viewEvents/<%= simulationId %>';
	}
	
	var deleteEventInstanceFn = function(eventInstanceId) {
		$.post("/deleteEventInstance/" + eventInstanceId, function(data, status, jqxhr){
			if(data.successful) {
				window.location = '/viewEventInstances/<%= simulationId %>/<%= event.id %>';
			}
			else {
				alert("Error deleting Event Instance");
			}
			
		});
	}
	
</script>