<h1>Add Resources Required For This Event</h1>
Event: <%= event.name %>
<br/>
Description: <%= event.description %>
<br/>
Lead Team: <%= event.leadTeam.name %>
<br/>

<form id="addEventResourcesForm" method="POST" class="builderInput">
<strong>Resources:</strong>
<br/>
<% _.each(resources, function(resource){ %>
<%= resource.name %>
<p>
Starting Quantity:<%= resource.quantity %>
</p>
<p>
<label for="r-<%= resource.id %>">Quantity Needed for Event:</label>
<input type="text" id="r-<%= resource.id %>"/>
</p>
<br/>
<% }) %>
<input type="button" id="addEventResource" value="Add Requirement" onclick="addEventResourceFn();"></input>
</form>

<a href="/viewResourceACL/<%= simulationId %>">View Resource Access Control List</a>

<script>
var addEventResourceFn = function() {
	var resourcesLocal = [<% _.each(resources, function(resource) { %> <%=resource.id%>, <% }); %>];
	
	var eventResourceList = [];
	var resourceQuantity;
	
	//make sure they have entered at least one quantity
	var somethingEntered = false;
	
	
	resourcesLocal.forEach(function(resource) {
		var resourceInputId = "#r-" + resource;
		
		resourceQuantity = $(resourceInputId).val();
		
		
		if (resourceQuantity)
		{
			somethingEntered = true;
		}
		else 
		{
			resourceQuantity = 0;
		}
		
		var eventResourceTemp = {};
		
		eventResourceTemp.event = <%= event.id %>;
		eventResourceTemp.resource = resource;
		eventResourceTemp.quantity = resourceQuantity;
		eventResourceTemp.simulation = <%= simulationId %>;
		
		eventResourceList.push(eventResourceTemp);
	});
	
	if (somethingEntered)
	{
		$.post('/addEventResources', {
			eventResourceList: eventResourceList,
			simulationId: <%= simulationId %>,
			eventId: <%= event.id %>
		}).done(function(data) {
			window.location = '/viewEvents/' + data.simulationId;
		});
	}
	else
	{
		alert("A quantity for at least one resource must be entered");
		return false;
	}
};

</script>