<h1>Resource Access Control List</h1>

<!-- each checkbox in this table has two css classes, one for the role id and one that is either apply resource (a-resource.id) or see resource -->
<table class="acl-table">
<tr>
	<th style="background-color: #87CEFA;"><div><span><!--Team--></span></div></th>
	<th style="background-color: #87CEFA;"><div><span><!--Check All--></span></div></th>
	<% _.each(resources, function (resource){ %>
	<th class="rotate"><div><span>Apply <%= resource.name %></span></div></th>
	<th class="rotate"><div><span>See <%= resource.name %></span></div></th>
	<% }); %>
</tr>
<tr>
	<td><!--Team--></td>
	<td><!--Check All--></td>
	<% _.each(resources, function (resource){ %>
	<td><input type="checkbox" class="colCheckAll" value="a-<%= resource.id %>"/></td>
	<td><input type="checkbox" class="colCheckAll" value="s-<%= resource.id %>"/></td>
	<% }); %>
</tr>

<% _.each(teamsWithRoles, function(teamRole){ %>

<tr>
	<td><%= teamRole.team.name %>: <%= teamRole.role.name %></td>
	<td><input type="checkbox" class="rowCheckAll" value="r-<%= teamRole.role.id %>" /></td>
	<% _.each(resources, function (resource){ %>

	<% var resourceAccess = _.find(resourceAccessList, function (resourceAccess){ return (resourceAccess.resource == resource.id && resourceAccess.role == teamRole.role.id); }) %>
	<% if (resourceAccess){ %>
		<td><input type="checkbox" class="a-<%= resource.id %> r-<%=teamRole.role.id %>" <%= resourceAccess.apply ? "checked='checked'" : "" %> /></td>
		<td><input type="checkbox" class="s-<%= resource.id %> r-<%=teamRole.role.id %>" <%= resourceAccess.see ? "checked='checked'" : "" %> /></td>
	<% }else{ %>
		<td><input type="checkbox" class="a-<%= resource.id %> r-<%=teamRole.role.id %>"/></td>
		<td><input type="checkbox" class="s-<%= resource.id %> r-<%=teamRole.role.id %>"/></td>
	<% } %>
	<% }); %>
	
</tr>
<% }); %>

</table> 

<input type="button" id="submitResourceACL" onclick="submitResourceACLfn();" value="Submit ACL" />

<br/>
<br/>
Finished editing the Resources Access Control List?
<input type="button" id="nextStep" value="Next Step" onclick="nextStepClick();"></input>


<script>

var getCheckboxesStatefn = function() {
	//array to hold the list of resourceAccess objects
	var resourceAccessList = [];
	
	var resourcesLocal = [<% _.each(resources, function(resource) { %> <%=resource.id%>, <% }); %>];
	var rolesLocal = [<% _.each(teamsWithRoles, function(teamRole) { %> <%=teamRole.role.id%>, <% }); %>];
	console.log(resourcesLocal);
	console.log(rolesLocal);

	rolesLocal.forEach(function (teamRole) {
		resourcesLocal.forEach(function(resource) {
			//css classes for the two types of checkboxes
			var applyCheckboxClass = '.a-' + resource + '.r-' + teamRole;
			var seeCheckboxClass = '.s-'+ resource + '.r-' + teamRole;
			
			//this variable will hold one record and then be pushed to an array that will be passed to the server
			var resourceAccessTemp = {};
			resourceAccessTemp.resource = resource;
			resourceAccessTemp.role = teamRole;
			resourceAccessTemp.apply =  $(applyCheckboxClass).is(":checked");
			resourceAccessTemp.see = $(seeCheckboxClass).is(":checked");
			resourceAccessTemp.simulation = <%= simulationId %>;
			
			resourceAccessList.push(resourceAccessTemp);
		});		
	});
	
	return resourceAccessList;
};

var submitResourceACLfn = function() {
	var resourceAccessList = getCheckboxesStatefn();
	
	$.post('/processResourceACL', {
			resourceAccessList: resourceAccessList,
			simulationId: <%= simulationId %>
		}).done(function(data) {
			window.location = '/viewResourceACL/' + data.simulationId;
		});
	

};

var nextStepClick = function() {
	window.location = '/viewMetrics/<%= simulationId %>';
}

$(".colCheckAll, .rowCheckAll").change(function() {
	
	if(this.checked) {
		$("." + $(this).val()).prop('checked', true);
	}
	else {
		$("." + $(this).val()).prop('checked', false);
	}
});



</script>